body {    
  background-image: url("Fon.jpg");
  background-size: cover;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: 50px;
  color: rgb(72, 61, 139);
  letter-spacing: 0.1em;
}

input {
  padding: 10px 15px;
  display: inline;
  font-size: 18px;
  border-radius: 7px;
}

#repo-name {
  width: 25%;
}

.button {
  color: navy;
  background: #A2C4FF;
  cursor: pointer;
}

.button:hover {
  background: #649DFF;	
}

#arrow {
  display: inline-block;
  font-size: 30px;
  color: grey;
}

#element {
  text-align: left;
  margin: 50px 205px;
  border-bottom: 1px solid silver;
}

a {
  font-size: 30px;
}

a:hover {
  color: navy;
}

p {
  font-size: 20px;
}
