body {  
  background-image: url("Fon.jpg");
}

.search-block {
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: 50px;
  color: rgb(72, 61, 139);
  letter-spacing: 0.1em;
}

input {
  padding: 10px 15px;
  margin-bottom: 35px;
  display: inline;
  font-size: 18px;
  border-radius: 7px;
}

#repo-name {
  width: 450px;
}

.button {
  color: navy;
  text-shadow: 1px 1px 5px teal;
  background: #A2C4FF;
  cursor: pointer;
}

.button:hover {
  background: #649DFF;	
}

#arrow {
  padding: 0;
  display: inline-block;
  font-size: 30px;
  color: grey;
  border: none;
}

.repo-element {
  display: none;
}

div {
  margin: 50px 205px;
  text-align: left;	
}

a {
  font-size: 30px;
}

h2,
a:hover {
  color: navy;
}

p {
  padding-bottom: 50px;
  font-size: 20px;
  border-bottom: 1px solid silver;
}

span {
  font-size: 24px;
  color: navy;
}